/*! _reviews.sass Блок */

.reviews
	background-color: #f5f6f8
	&-slider
		display: flex
		justify-content: space-between
		//flex-wrap: wrap
		&__item
			text-align: center
		&__image
			display: block
			//max-width: 70px
			width: 70px
			height: 70px
			border: 2px solid #6a99e9
			border-radius: 60%
			margin: 20px auto	
		&__text
			position: relative
			font-size: 15px
			font-style: italic
			max-width: 370px
			padding: 20px
			background-color: #ffffff
			border-radius: 10px
			margin-bottom: 30px
			// стрелка вниз(ромбик) cм "Треугольники на CSS"	
			&:after
				content: ''
				position: absolute
				bottom: -30px
				left: 50%
				transform: translateX(-50%)
				//width: 20px
				height: 10px
				border: 10px solid transparent 
				border-top: 10px solid #ffffff			
		&__name
			
// T
@media (max-width: 991px)
	.reviews
		&-slider
			justify-content: center
			flex-wrap: wrap
			&__item
				margin: 0px 2px 10px 2px
@media (max-width: 768px)
	.reviews
		&-slider
			//justify-content: space-around
			justify-content: center
			flex-wrap: wrap
			//flex-direction: column
			&__item
				margin: 0px 0px 20px 0px
				