<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Фабрика панелей скинали
		link(rel="stylesheet", href="vendor/normalize/normalize.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="vendor/twentytwenty/css/twentytwenty.css")
		link(rel="stylesheet", href="vendor/slick/slick.css")


	body 
		|
		include parts/header.pug
		|
		|
		main 
			include parts/offer.pug
			|
			|
			include parts/features.pug
			|
			|
			include parts/catalog.pug	
			|
			|
			include parts/blog-list.pug				
			|
			|
			include parts/price.pug
			|
			|
			include parts/steps.pug
			|
			|
			include parts/before-after.pug		
			|
			|
			include parts/reviews.pug
			|
			|
			include parts/offer-2.pug
			|
			|
			include parts/factory.pug
			|
			|
			include parts/contacts.pug
			|
			|
			include parts/questions.pug		
			|
			|
			include parts/footer.pug			
	
	// Jquery Scripts (2.2.4 !!!)
	// script(src="vendor/jquery/dist/jquery.min.js")
	// script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
	script(src="vendor/jquery/jquery.min_2.2.4.js")
	// twentytwenty plugin
	script(src="vendor/twentytwenty/js/jquery.twentytwenty.js")
	script(src="vendor/twentytwenty/js/jquery.event.move.js")
	// slick slider plugin
	script(src="vendor/slick/slick.min.js")
	// 
	script(src="vendor/jquery_maskedinput/dist/jquery.maskedinput.min.js")
	// main
	script(src="js/main.js")

// ----------
// 1-06
