// BEFORE-AFTER Section
// плагины https://zurb.com/playground/twentytwenty http://kenwheeler.github.io/slick/
section.section.before
	.container
		h2.section-title.section__title До и после
		.before-slider-wrap
		
			.before-slider
				// slide 1
				.before-slider__item
					.before-after
						img(src="img/before-slider/sample-before.png")
						img(src="img/before-slider/sample-after.png")
				// slide 2
				.before-slider__item
					.before-after
						img(src="img/before-slider/sample-before-2.png")
						img(src="img/before-slider/sample-after-2.png")
				// slide 3
				.before-slider__item
					.before-after
						img(src="img/before-slider/sample-before-3.png")
						img(src="img/before-slider/sample-after-3.png")
				
			// arrows
			.before-slider-arrows
				button.arrow.arrow-left
					img(src="img/before-slider/left-arrows.png")
				button.arrow.arrow-right
					img(src="img/before-slider/right-arrows.png")

// ./BEFORE-AFTER Section

