// BLOG-LIST Section

section.section.blog
	.container
		.blog__heading
			h3.blog__title Полезное или что важно знать о скинали ...
			a.blog__link-more(href="#") Читать все статьи ...
		.blog-list
			// .blog-card 1
			.blog-card.blog-list__card
				.blog-list__image
					img(src="img/blog-list/blog-post-1.png")
				.blog-list__text Виды стекла
			// .blog-card 2
			.blog-card.blog-list__card
				.blog-list__image
					img(src="img/blog-list/blog-post-2.png")
				.blog-list__text Виды печати
			// .blog-card 3
			.blog-card.blog-list__card
				.blog-list__image
					img(src="img/blog-list/blog-post-3.png")
				.blog-list__text Виды крепежа и монтажа
			// .blog-card 4
			.blog-card.blog-list__card
				.blog-list__image
					img(src="img/blog-list/blog-post-4.png")
				.blog-list__text Вопросы и ответы




// ./BLOG-LIST Section