// CATALOG Section

section.section.catalog
	.container
		h2.section-title.section__title Каталог скинали
		.catalog-block
			// .catalog-card 1
			.catalog-card.catalog__card 
				|
				img.catalog-card__image(src="img/catalog/catalog-image-1.jpg", alt="") 
				|
				|
				span.catalog-card__tag Коллажи
				.catalog-card__buttons
					button.button-fitting.catalog-card__button  Примерить онлайн
					button.button-add.catalog-card__button  Заказать
					button.button-like
						img(src="img/button-like.png", alt="")
			// .catalog-card 2
			.catalog-card.catalog__card
				|
				img.catalog-card__image(src="img/catalog/catalog-image-2.jpg", alt="")
				|
				|
				span.catalog-card__tag Авторская коллекция
				.catalog-card__buttons
					button.button-fitting.catalog-card__button  Примерить онлайн
					button.button-add.catalog-card__button  Заказать
					button.button-like
						img(src="img/button-like.png", alt="")
			// .catalog-card 3
			.catalog-card.catalog__card
				|
				img.catalog-card__image(src="img/catalog/catalog-image-3.jpg", alt="")
				|
				|
				span.catalog-card__tag Коллажи
				.catalog-card__buttons
					button.button-fitting.catalog-card__button  Примерить онлайн
					button.button-add.catalog-card__button  Заказать
					button.button-like
						img(src="img/button-like.png", alt="")
			// .catalog-card 4
			.catalog-card.catalog__card
				|
				img.catalog-card__image(src="img/catalog/catalog-image-4.jpg", alt="")
				|
				|
				span.catalog-card__tag Авторская коллекция
				.catalog-card__buttons
					button.button-fitting.catalog-card__button  Примерить онлайн
					button.button-add.catalog-card__button  Заказать
					button.button-like
						img(src="img/button-like.png", alt="")
			// .catalog-card 5
			.catalog-card.catalog__card
				|
				img.catalog-card__image(src="img/catalog/catalog-image-5.jpg", alt="")
				|
				|
				span.catalog-card__tag Коллажи
				.catalog-card__buttons
					button.button-fitting.catalog-card__button  Примерить онлайн
					button.button-add.catalog-card__button  Заказать
					button.button-like
						img(src="img/button-like.png", alt="")
			// .catalog-card 6
			.catalog-card.catalog__card
				|
				img.catalog-card__image(src="img/catalog/catalog-image-6.jpg", alt="")
				|
				|
				span.catalog-card__tag Абстракция
				.catalog-card__buttons
					button.button-fitting.catalog-card__button  Примерить онлайн
					button.button-add.catalog-card__button  Заказать
					button.button-like
						img(src="img/button-like.png", alt="")
			// .catalog-card 7
			.catalog-card.catalog__card
				|
				img.catalog-card__image(src="img/catalog/catalog-image-7.jpg", alt="")
				|
				|
				span.catalog-card__tag Коллажи
				.catalog-card__buttons
					button.button-fitting.catalog-card__button  Примерить онлайн
					button.button-add.catalog-card__button  Заказать
					button.button-like
						img(src="img/button-like.png", alt="")
			// .catalog-card 8
			.catalog-card.catalog__card 
				|
				img.catalog-card__image(src="img/catalog/catalog-image-8.jpg", alt="")
				|
				|
				span.catalog-card__tag Абстракция
				.catalog-card__buttons
					button.button-fitting.catalog-card__button  Примерить онлайн
					button.button-add.catalog-card__button  Заказать
					button.button-like
						img(src="img/button-like.png", alt="")
			// /.catalog-card x
		.catalog__link 
			|
			a.button.catalog__link-more.button_lg(href="#") Смотреть весь каталог скинали
			|
			|
			span.catalog__description Более 3000 изображений скинали в 25 рубриках

// ./CATALOG Section