// CONTACTS Section

section.section.contacts
	.container
		h2.sectiion-title.section__title Контакты
		.contacts-block
			// contacts 1
			.contacts-block__item
				img.contacts__image(src="img/contacts/contact-1.png", alt="")
				.contacts__text
					a.contacts__link(href="#") +7 992 987-654-321
			// contacts 2
			.contacts-block__item
				img.contacts__image(src="img/contacts/contact-2.png", alt="")
				.contacts__text
					address.contacts__adress Каширское шоссе, д. 23, офис 345
			// contacts 3
			.contacts-block__item
				img.contacts__image(src="img/contacts/contact-3.png", alt="")
				.contacts__text
					a.contacts__link(href="#") info@domain.ltd

// ./CONTACTS Section