// CONTACTS Section

section.section.contacts
	.container
		h2.section-title.section__title Контакты
		.contacts-block
			// contacts 1
			.contacts-block__item
				img.contacts__image(src="img/contacts/contact-1.png", alt="")
				.contacts__text
					a.contacts__link(href="#") +7 992 987-654-321
			// contacts 2
			.contacts-block__item
				img.contacts__image(src="img/contacts/contact-2.png", alt="")
				.contacts__text
					address.contacts__adress Каширское шоссе, д. 23, офис 345
			// contacts 3
			.contacts-block__item
				img.contacts__image(src="img/contacts/contact-3.png", alt="")
				.contacts__text
					a.contacts__link(href="#") info@domain.ltd
					
// yandex map
.map#map 
	|
	//<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A14b6e83551c5a476b80caeb25f1f406fc1a56b37b564328403a9001becd0d4ab&amp;width=100%25&amp;height=410&amp;lang=ru_RU&amp;scroll=false"></script>

// ./CONTACTS Section