// FACTORY Section

section.section.factory
	.container
		h2.section-title О производстве
		.factory-block
			.factory-block__image
				img(src="img/factory/factory.jpg" alt="Factory Skinaly")
			.factory-block__text
				p.
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
					Quisquam nisi fugiat fuga? Odit accusamus obcaecati non temporibus.
					Iusto, veritatis autem! Nihil ullam autem tempora earum delectus nisi
					voluptatibus veniam debitis!
				p.
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
					Quisquam nisi fugiat fuga? Odit accusamus obcaecati non temporibus.
					Iusto, veritatis autem! Nihil ullam autem tempora earum delectus nisi
					voluptatibus veniam debitis!

// ./FACTORY Section