// FEATURES Section

section.features.section#features
	.container
		h2.section-title.section__title Наши преимущества
		.features-block
			.features-block__item 
				|
				img.feature-block__image(src="img/features/feature-1.png", alt="Бесплатный дизайн-макет")
				p.feature-block__text Бесплатный <br> дизайн-макет
			.features-block__item 
				|
				img.feature-block__image(src="img/features/feature-2.png", alt="Пожизненная гарантия")
				p.feature-block__text Пожизненная <br> гарантия
			.features-block__item 
				|
				img.feature-block__image(src="img/features/feature-3.png", alt="Большой каталог изображений")
				p.feature-block__text Большой каталог <br> изображений
			.features-block__item 
				|
				img.feature-block__image(src="img/features/feature-4.png", alt="100% соблюдение сроков")
				p.feature-block__text 100% соблюдение <br> сроков
			.features-block__item 
				|
				img.feature-block__image(src="img/features/feature-5.png", alt="Собственное производство")
				p.feature-block__text Собственное <br> производство
			.features-block__item 
				|
				img.feature-block__image(src="img/features/feature-6.png", alt="Минимальная цена в городе от 1600 р. метр")
				p.feature-block__text Мнимальная цена в городе <br> от 1600 р. метр

// ./FEATURES Section