// FOOTER Section
footer.footer
	.container
		.footer-block
			.footer__description
				h4.footer__title  Фабрика скинали №1
				span.footer__subtitle  ведущий производитель скинали	
				span.footer__copy  &copy; 2019 Com LTD 
			.footer__pay-info
				img.footer__pay-logo(src="img/footer/money-1.png", alt="")
				img.footer__pay-logo(src="img/footer/money-2.png", alt="")
				img.footer__pay-logo(src="img/footer/money-3.png", alt="")
				img.footer__pay-logo(src="img/footer/money-4.png", alt="")
			.footer__contacts 
				a.footer__phone +7 992 987-654-321 
				a.footer__mail info@domain.ltd
				.footer-social
					a.footer-social__link(href="#")
						img.footer-social__image(src="img/footer/vk.png")
					a.footer-social__link(href="#")
						img.footer-social__image(src="img/footer/fb.png")
					a.footer-social__link(href="#")
						img.footer-social__image(src="img/footer/tw.png")

// ./FOOTER Section