// OFFER-2 section 

section.offer
	.container
		.offer__block.offer-block.offer-block_price-bg
			h2.offer__title Ищите где дешевле и лучше?
			|
			|
			span.offer__subtitle Если у вас уже есть расчёт от другой фирмы, но Вы хотите цену дешевле, укажите её и мы вам пересчитаем заказ с максимальной скидкой.
			// form
			form.form.offer__form(action="#")
				.form__row
					.form__group
						input.input.form__input(type="text" placeholder="Ваше имя")
					.form__group
						input.input.form__input(type="text" placeholder="Ваш телефон")
					.form__group
						input.input.form__input(type="text" placeholder="Ваша цена")
				.form__row
					.form__group
						input.button.form__button.form__button-price(type="submit" value="Получить расчёт со скидкой")
					.form__group
						span.form__policy Ваши данные надёжно защищены. <br> Отправление заявки ни к чему не обязывает.					
			// ./form






// ./OFFER-2 section 