// PRICE Section

section.section.price
	.container
		h2.section-title.section__title Цены и виды скинали
		.price-block
			// .price-card 1
			.price-card.price-block__card
				.price-card__image
					img(src="img/price/price-1.jpg", alt="")
					.price-card__text
						.price-card__pricetag
							h4.price-card__title Прозрачные
							span.price-card__cost От 3500 р.м2
						.price-card__button
							button.button Оставить заявку
			// .price-card 2
			.price-card.price-block__card
				.price-card__image
					img(src="img/price/price-2.jpg", alt="")
					.price-card__text
						.price-card__pricetag
							h4.price-card__title Однотонные
							span.price-card__cost От 3500 р.м2
						.price-card__button
							button.button Оставить заявку
			// .price-card 3
			.price-card.price-block__card
				.price-card__image
					img(src="img/price/price-3.jpg", alt="")
					.price-card__text
						.price-card__pricetag
							h4.price-card__title Полноцветные
							span.price-card__cost От 3500 р.м2
						.price-card__button
							button.button Оставить заявку
			// .price-card 4
			.price-card.price-block__card
				.price-card__image
					img(src="img/price/price-4.jpg", alt="")
					.price-card__text
						.price-card__pricetag
							h4.price-card__title Стекло 'Optiwite'
							span.price-card__cost От 3500 р.м2
						.price-card__button
							button.button Оставить заявку
			// .price-card 5
			.price-card.price-block__card
				.price-card__image
					img(src="img/price/price-5.jpg", alt="")
					.price-card__text
						.price-card__pricetag
							h4.price-card__title Зеркальные
							span.price-card__cost От 3500 р.м2
						.price-card__button
							button.button Оставить заявку
			// .price-card 6
			.price-card.price-block__card
				.price-card__image
					img(src="img/price/price-6.jpg", alt="")
					.price-card__text
						.price-card__pricetag
							h4.price-card__title  С подсветкой
							span.price-card__cost От 3500 р.м2
						.price-card__button
							button.button Оставить заявку
			// .price-card 7
			.price-card.price-block__card
				.price-card__image
					img(src="img/price/price-7.jpg", alt="")
					.price-card__text
						.price-card__pricetag
							h4.price-card__title Цветовые панели
							span.price-card__cost От 3500 р.м2
						.price-card__button
							button.button Оставить заявку
			// .price-card 8
			.price-card.price-block__card
				.price-card__image
					img(src="img/price/price-8.jpg", alt="")
					.price-card__text
						.price-card__pricetag
							h4.price-card__title Пано картины
							span.price-card__cost От 3500 р.м2
						.price-card__button
							button.button Оставить заявку





// ./PRICE Section