// QUESTIONS Section

section.section.questions
	.container
		.questions-block
			h3.questions__title Остались вопросы ?
			a.questions__link(href="#") Задайте их менеджеру


// ./QUESTIONS Section