// REVIEWS Section

section.section.reviews
	.container
		h2.section-title.section__title Отзывы наших клиентов
		.reviews-slider
			// reviews-slider 1
			.reviews-slider__item
				.reviews-slider__text Хорошая компания. Прекрастно работают. Сервис на высоте. Замечательно прекрасно великолепно  ...
				img.reviews-slider__image(src="img/reviews/reviews-1.png", alt="")
				span.reviews-slider__name Вася Иванов г. Москва
			// reviews-slider 2
			.reviews-slider__item
				.reviews-slider__text Прекрастно работают. Хорошая компания. Сервис на высоте ...
				img.reviews-slider__image(src="img/reviews/reviews-2.png", alt="")
				span.reviews-slider__name Павел Т г. Варкута
			// reviews-slider 3
			.reviews-slider__item
				.reviews-slider__text Часто сталкиваемся с непониманием со стороны сотрудников. Навешают лапши на уши и культурно пошлют ...
				img.reviews-slider__image(src="img/reviews/reviews-3.png", alt="")
				span.reviews-slider__name Ольга Иванова г. Москва
			// reviews-slider 4







// REVIEWS Section

