// STEPS Section

section.section.steps
	.container
		h2.section-title.section__title Этапы работ
		.steps-block
			// step 1
			.step
				img.step__image(src="img/steps/step-1.png", alt="")
				h4.step__title Заявка
				p.step__text Вы оставляете заявку на нашем сайте или по телефону
			// step 2	
			.step
				img.step__image(src="img/steps/step-2.png", alt="")
				h4.step__title Замер
				p.step__text Вы произвели замер сами или наш специалист выесжает к вам
			// step 3
			.step
				img.step__image(src="img/steps/step-3.png", alt="")
				h4.step__title Договор
				p.step__text Составляем договор оказания услуг
			// step 4
			.step
				img.step__image(src="img/steps/step-4.png", alt="")
				h4.step__title Дизайн
				p.step__text Вы выбираете дизийна из нашего каталога, либо мы разрабатываем эксклюзивный дизайн
			// step 5
			.step
				img.step__image(src="img/steps/step-5.png", alt="")
				h4.step__title Производство
				p.step__text Ваши прнели в производстве
			// step 6
			.step
				img.step__image(src="img/steps/step-6.png", alt="")
				h4.step__title Монтаж
				p.step__text Выезд наших мастеров на установку скинали. Либо самостоятельная установка












// ./STEPS Section
